@charset "UTF-8";

/* 마이페이지 */

div[class="mypage"] {
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
    min-width: 1500px;
}

.mypage a {
    text-decoration: none;
    font-size: 40px;
    color: #808080;
}


/* 마이페이지 메뉴 */

.mypage_menu {
    width: 100%;
    min-width: 1500px;
}

.mypage_menu a {
    color: #808080;
    font-size: 20px;
    padding: 20px;
    text-decoration: none;
}

div[class="mypage_menu"] {
    width: 100%;
    padding: 5px;
    border-top: 2px solid #8EBCBB;
    border-bottom: 2px solid #8EBCBB;
    color: #c0c0c0;
    text-align: center;
}


/* 개인정보 */

.mypage_wrap h2 {
    text-align: center;
    color: #c0c0c0;
}

.mypage_wrap {
    width: 100%;
    margin-top: 20px;
}

.mypage_box {
    width: 40%;
    padding: 3px 0;
    margin: 3px 0;
    border-bottom: 2px solid #8EBCBB;
    display: inline-block;
    margin-left: 30%;
}

.mypage_box h5 {
    font-size: 15px;
    color: #c0c0c0;
}

.mypage_box input {
    width: 100%;
    border: none;
    outline: none;
    align: center;
}

.region h5 {
    margin-top: 25px;
    font-size: 15px;
    color: #c0c0c0;
    font-size: 15px;
}

.region {
    margin-left: 30%;
    float: left;
}

.region_select {
    float: left;
    margin: 20px;
    paddig: 20px;
}

.btn {
    width: 20%;
    margin-top: 80px;
    background-color: #8EBCBB;
    border: 5px solid #8EBCBB;
    font-size: 18px;
    color: white;
    background-color: #8EBCBB;
}


/* 신청 현황  */

.apply {
    width: 100%;
    height: 300px;
    border-bottom: 1px solid #808080;
}

.apply_item1 {
    width: 200px;
    padding: 15px;
    margin-left: 10px;
    text-align: center;
    border-bottom: 2px solid #c0c0c0;
}

.apply_item1 h2 {
    color: #8EBCBB;
    font-size: 22px;
}