@charset "EUC-KR";

td,th { text-align:center; padding:10px; }


/* 상새 설명 */
div[class="left"] {
	margin-left: 10px;
	width: 65%;
	margin-top: 30px;
	float: left;
}

.detail_menu a {
	text-decoration: none;
	font-size: 20px;
	color: #808080;
}

div[class="detail_menu"] {
	width: 23%;
	float: left;
	border: 2px solid #8EBCBB;
	margin-bottom: 20px;
	text-align: center;
}

div[class="detail_img"] {
	padding: 15px;
}

.left h2 {
	float: left;
	font-size: 17px;
	color: #808080;
	padding-left: 2.5em;
}

.detail {
	width: 95%;
	margin-top: 40px;
	border-top: 2px solid #8EBCBB;
	margin-top: 40px;
}

.detail h1 {
	color: #808080;
	font-size: 20px;
	padding: 15px;
}

.detail p {
	padding: 2px;
	margin-left: 5px;
}

.detail a {
	text-decoration: none;
	font-size: 15px;
	color: #808080;
	margin:10px;
	
}

/* 신청 부분 */
div[class="right"] {
	width: 30%;
	height:auto;
	margin-top: 50px;
	margin-right: 10px; 
	left:65%;
	background:white;
	float : right; 
	border : 2px solid #808080;
	border-radius: 20px;
	position:fixed;
}

div[class="classname"] {
	margin-top: 50px;
	padding: 15px;
}

.right h2 {
	padding: 10px; 
	font-size : 15px;
	color: #808080;
	font-size: 15px;
	text-align:center;
	margin-right:90px;
	
}

.classname h1 {
	font-size: 40px;
	color: #808080;
	text-align:center;
}

.classname h2 {
	font-size: 20px;
	color: #8EBCBB;
	text-align:center;
	margin-right:110px;
}


.option {
        float:left;
        padding-left: 60px;
        padding-right: 20px;
        color: #808080;
        font-size: 20px;
        text-align:center;
    }

.detail_select {
	
	padding-left:30px;
}

.selectWrap{
	padding:10px;
	margin-left:50px;
}

.btn {
	width: 70%;
	background-color: #8EBCBB;
	border-radius: 5px;
	border: 5px solid #8EBCBB;
	font-size: 25px;
	color: white;
}

.btn_box{
	margin-top:40px;
	width:70%;
	margin-left:20%;
	margin-bottom:50px;
}

/* 리뷰 남기기 */
h1{
	color:#808080;
	text-align:center;
	font-size:40px;
}


.table{
	text-align:center;
	border:2px solid #c0c0c0;	
	width:70%;
	margin-left:15%;
	margin-top:20px;
}

.form-control{
	width:80%;
}
	
	
.form_btn{
	background-color: #8EBCBB;
    border: 4px solid #8EBCBB;
    font-size: 15px;
    color: white;
}

.form_btn_box{
	margin-top:10px;
	margin-left:70%;
}

.img_s { width:40px; height:40px;}


