.logo {
    display: block;
    margin: 0px auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo_div {

    border-top: 2px solid #8EBCBB;
    border-bottom: 2px solid #8EBCBB;
    min-width: 1500px;
    width: 100%;
}

p {
    float: left;
}

.round {
    color: #8EBCBB;
}

.width {
    padding-top: 50px;
}

.width div {
    margin-left: 10%;
}

.worldcup{
	margin-top:30px;
	margin-left:15em;
}

.stop{
	float:right;
	margin-right:30px;
	margin-bottom:20px;
}

.stop a{
	text-dexoration:none;
	color: #8EBCBB;
	font-size:25px;
}