    /* 카테고리 지역 선택 */
    
    .cat_region {
        float: left;
        padding-left: 30px;
    }
    
    h2 {
        color: #4e4d4d;
        padding: 30px;
    }
    
    .cr {
        float: left;
        padding-left: 50px;
        padding-right: 10px;
        color: #4e4d4d;
    }